table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.parent {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;

    .inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.block {
    display: inline-block;

    img {
        display: block;
        border: none;
    }
}

.error {
        color: red;
}