<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body th:fragment="menu">

<div style="display: inline;">
    <div style="display: inline;float: left;">
        <div style="display: inline-block;">
            <form method="get" th:action="@{/main}">
                <input type="submit" value="Главная"/>
            </form>
        </div>
        <div style=" display: inline-block;">
            <form method="get" th:action="@{/receiving}">
                <input type="submit" value="Поступление товара"/>
            </form>
        </div>
        <div style=" display: inline-block;">
            <form method="get" th:action="@{/leftover}">
                <input type="submit" value="Остатки"/>
            </form>
        </div>
    </div>
    <div style=" display: inline;float: right;">
        <div style=" display: inline-block;">
            <h4 th:inline="text">Добрый день <span th:text="${displayName}"/>!</h4>
        </div>
        <div style=" display: inline-block;">
            <form method="post" th:action="@{/logout}">
                <input type="submit" value="Выход"/>
            </form>
        </div>
    </div>
</div>
</body>